* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
}

.form-container {
    padding: 10px;
}

.preview {
    background-color: aqua;
    height: 100vh;
    padding: 10px;
    text-align: center;
    position: fixed;
    top: 0;
    right: 0;
}

.row-div {
    display: flex;
    flex-direction: row;
}

.col-12 {
    width: 100%
}

.col-9 {
    width: 75%
}

.col-8 {
    width: 66%;
}

.col-6 {
    width: 50%;
}

.col-4 {
    width: 33%;
}

.col-3 {
    width: 25%;
}

.fieldset {
    padding: 10px;
}

.fieldset-legend {
    font-size: 24px;
}

.fieldset+.fieldset {
    margin-top: 10px;
}

.form-group {
    padding: 10px;
}

.control-label {
    display: block;
    padding-bottom: 4px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.form-control {
    padding: 8px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

.textarea {
    width: 100%;
    resize: vertical;
    height: auto;
}

.date-select {
    padding: 8px;
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

.inline-label {
    padding-left: 8px;
}

.clickable:hover {
    box-sizing: border-box;
    color: cadetblue;
    cursor: pointer;
}

.clickable:active {
    color: rgb(66, 106, 108);
}

.submit {
    font-size: 16px;
    padding: 5px;
    margin: 20px 0px;
}

.star-input {
    font-size: 28px;
    display: none;
}

.star-label {
    font-size: 28px;
    padding-right: 4px;
    color: #C8C8C8;
}

.star-input:checked+.star-label {
    color: #FFC107;
}

.star-input+.star-label:hover {
    color: #FFC107;
}

#preview-page {
    width: 210mm;
    height: 297mm;
    background-color: white;
}